<h1>Cadastro de pessoas</h1>

<form ngForm>
  <div>
    Nome: <input type="text" name="nome" [(ngModel)] = "nome">
  </div>
  <div>
    <button (click)="salvar()">OK</button>
  </div>
</form>

<h2>Pessoas cadastradas</h2>
<table>
  <thead>
    <th>Nome</th>
    <th>Excluir</th>
  </thead>
  <tbody>
    <tr *ngFor="let pessoa of pessoas">
      <td>{{pessoa.nome}}</td>
      <td>
        <button (click)="remover(pessoa)">X</button>
      </td>
    </tr>
  </tbody>
</table>

<div>Total de pessoas cadastradas: {{pessoas.length}}</div>